@model IEnumerable<EcommerceAPI.Model.UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/css/User/index.css" rel="stylesheet" />
}
<h1>Index</h1>

<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th scope="col">
               Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "deleteBtn" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="footer-table">
    <p class="float-right">
        <a asp-action="Create"><i class="fa-solid fa-square-plus"></i></a>
    </p>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var deleteButton = $(".deleteBtn");
            deleteButton.click(function () {
                var check = confirm("Are You Sure!");
                if (check) {
                    return true;
                }
                return false;
            })
        });
    </script>
}
